name: publish

on:
  release:
    types: [published]

jobs:
  build:
    name: Build the source tarball and the wheel
    runs-on: ubuntu-latest
    environment: release
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
    - name: Build packages
      run: uv build --all-packages
    - name: Archive packages
      uses: actions/upload-artifact@v6
      with:
        name: dist
        path: dist

  publish:
    name: Publish build artifacts to PyPI
    needs: build
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
    - name: Retrieve packages
      uses: actions/download-artifact@v8
      with:
        path: dist
    - name: Upload packages
      uses: pypa/gh-action-pypi-publish@release/v1
